$primary-color: #0070f3;
$secondary-color: #0070f3;
$background-color: #000;
$surface-color: #111;
$text-color: #fff;
$text-color-secondary: #888;

$header-height: 80px;
$header-height-mobile: 120px;

$breakpoint-mobile: 768px;